data/hosts.csv
data/listings.csv
data/reviews.csv
pg_dump/airbnb_dump.dump
pg_dump/marquez_dump.dump
pg_dump/airbnb_dump.dump
pg_dump/marquez_dump.dump
pg_dump/airbnb_dump.dump
*.dump
pg_dump/marquez_dump.dump
