version: "3.9"

services:
  postgres:
    image: wariosantos/postgres_aws_s3
    container_name: dbt_postgres
    environment:
      POSTGRES_USER: dbt_user
      POSTGRES_PASSWORD: dbt_pass
      POSTGRES_DB: analytics
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      #- ./db/init:/docker-entrypoint-initdb.d
    networks:
      - marquez-network
  dbt:
    build: ./dbt
    container_name: dbt_runner
    depends_on:
      - postgres
    volumes:
      - ./dbt_project:/usr/app
      - ./dbt:/root/.dbt
    working_dir: /usr/app
    command: sleep infinity
    networks:
      - marquez-network
    environment:
      - OPENLINEAGE_URL=http://api:5000
      - OPENLINEAGE_NAMESPACE=dbt


  dbt-fusion:
    build: ./dbt-fusion
    container_name: dbt_fusion_runner
    depends_on:
      - postgres
    volumes:
      - ./dbt_project:/usr/app
      - ./dbt:/root/.dbt
    working_dir: /usr/app
    command: sleep infinity
    networks:
      - marquez-network
    environment:
      - OPENLINEAGE_URL=http://api:5000
      - OPENLINEAGE_NAMESPACE=dbt 

  superset:
    image: apache/superset:latest
    container_name: superset
    depends_on:
      - postgres
    ports:
      - "8088:8088"
    environment:
      SUPERSET_SECRET_KEY: "this_is_a_secret_key"
    volumes:
      - superset_home:/app/superset_home
    command: >
      /bin/sh -c "
      superset db upgrade &&
      superset fab create-admin --username admin --firstname Admin --lastname User --email admin@local --password admin &&
      superset init &&
      gunicorn --bind 0.0.0.0:8088 --workers 2 --timeout 120 'superset.app:create_app()'
      "
    networks:
      - marquez-network

  api:
    image: marquezproject/marquez:latest
    container_name: marquez-api
    depends_on:
      - postgres
    environment:
      MARQUEZ_PORT: 5000
      POSTGRES_HOST: postgres
    ports:
      - "5000:5000"
    networks:
      - marquez-network

  web:
    image: marquezproject/marquez-web:latest
    container_name: marquez-web
    depends_on:
      - api
    environment:
      MARQUEZ_HOST: api
      MARQUEZ_PORT: 5000
      WEB_PORT: 3000
      API_BASE_URL: http://api:5000
    ports:
      - "3000:3000"
    networks:
      - marquez-network
      
  dagster_app:
    build:
      context: .
      dockerfile: Dagster/Dockerfile_dagster
    container_name: dagster_app
    ports:
      - "3001:3000"
    environment:
      # Match this to your volume path
      DAGSTER_HOME: /opt/dagster/app
      DAGSTER_POSTGRES_USER: 'dagster_user'
      DAGSTER_POSTGRES_PASSWORD: 'dagster_pass'
      DAGSTER_POSTGRES_DB: 'airbnb'
      DAGSTER_POSTGRES_SCHEMA: 'dagster'
    volumes:
      - .:/opt/dagster
      # Map these files into the DAGSTER_HOME directory
      - ./Dagster/dagster.yaml:/opt/dagster/app/dagster.yaml
      - ./Dagster/workspace.yaml:/opt/dagster/app/workspace.yaml
    # Point the command to the EXACT path you just mounted above
    command: dagster-webserver -h 0.0.0.0 -p 3000 -w /opt/dagster/app/workspace.yaml
    working_dir: /opt/dagster/app
    networks:
      - marquez-network


volumes:
  pgdata:
  superset_home:

networks:
  marquez-network:
    driver: bridge